*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body { 
	overflow: hidden; 
}
main {
	display: flex;
	flex-direction: column;
}
/** Section (navbar) */
header.mynavbar {
	display: flex;
	align-items: center;
	height: 40px;
	width: 100vw;
	background-color: black;
	padding: 0 5px;
}
i.btn-menu {
	order: 1;
	flex: 0 1 2%;
	cursor: pointer;
	transition: all .3s ease-in-out;
	text-align: center;
	color: #fff;
}
header h3.nv-title {
	order: 2;
	flex: 0 1 98%;
	margin: 0;
	text-align: center;
	font-family: "Roboto bold", Arial, Helvetica, Verdana;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

/** Section (menu-sidebar) */
nav#sidebar-menu {
	z-index: 12000;
	position: fixed;
	overflow: auto;
	top: 0;
	height: 100vh;
	width: 280px;
	box-shadow: 0 0 1px 1px #3a4961;
	user-select: none;
	font-family: "Roboto bold",Arial,Helvetica,Verdana;
	font-size: 14px;
	transition: transform .2s ease-out;
}
nav div.menu-title {
	display: flex;
	align-items: center;
	height: 40px;
	width: 94%;
	margin: 10px auto;
	padding: 0 8px;
	border-radius: 5px;
	font-size: 15px;
	text-align: center;
}
div.menu-title span {
	flex: 1 1 94%;
	padding-left: 6%;
}
div.menu-title i {
	flex: 0 1 6%;
	cursor: pointer;
	font-size: 25px;	/*size-icon*/
}
/** user-info(ui) */
nav div.user-info figure {
	padding: 10px;
	text-align: center;
}
div.ui figure img {
	width: 100px;
	height: 100px;
}
div.ui div.menu-setting-options {
	line-height: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	border-top: 1px solid rgba(255, 255, 255, .3);
	font-size: 20px;	/*size icons*/
	text-align: center;
}
div.ui div.menu-setting-options i {
	cursor: pointer;
	padding: 0 20px;
}
/** menu-box */
nav div.full-menu { padding-top: 10px; }
nav div.menu-box {
	display: flex;
	flex-direction: column;
}
a.menu-item {
	display: flex;
	align-items: center;
	height: 50px;
	color: inherit;
	font-weight: bold;
}
a.menu-item:hover,
a.menu-item.active { transition: all .3s ease-in-out; }
a.menu-item i.i1 {
	flex: 0 2 20%;
	text-align: right;
	padding-right: 10px;
	font-size: 16px;
}
a.menu-item span {
	flex: 1 1 60%;
	text-align: left;
}
a.menu-item i.i2 {
	flex: 0 2 20%;
	text-align: center;
}		
/** submenu-box */
nav div.menu-box div.submenu-box {
	height: 0;
	transition-property: height;
}
a.submenu-item {
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	height: 30px;
	font-family: Arial, Helvetica, Verdana;
	color: inherit;
	transition-property: all;
}
a.submenu-item i {
	flex: 0 1 28%;
	text-align: right;
	padding-right: 10px;
	font-size: 9px;
}
a.submenu-item span { flex: 1 1 72%; }

/** Section (contenido) */
section.contenido {
	background: #f7f7f7;
	overflow: auto;
	height: 93vh !important;
	padding: 15px;
	font-family: "Roboto", Arial, Helvetica, Verdana !important;
}

/** Formulario Style */
form {
	font-size: 15px;
}
div.box {
	background: white;
	border-radius: 5px;
	box-shadow: 2px 2px 1px 0px #f5f5f5;
	padding: 20px;
}
div.box:first-child {
	margin-right: 15px;
}
div.box div.field {
	margin-bottom: 8px;
	/*border: 1px solid red;*/
}
label:not(.gender) {
	margin-bottom: 2px;
}
div.box > div.titulo {
	font-family: "Roboto bold";
	color: darkblue;
}
/*test code*/
button {
	font-size: inherit !important;
}
button i {
	font-size: 17px !important;	
}
div.btn-group {
	display: block;
	text-align: center;
}
/*end of test code*/
/** Formulario-TRABAJADOR */
#form-trabajador h1 {
	text-align: center;
}
#form-trabajador .multiple-input {	/* en una fila */
	min-width: 180px !important;
	max-width: 210px !important;
}
#form-trabajador select {
	width: 100%;
	height: 30px !important;
}
#form-trabajador #telefono {
	width: 50%;
}

/* selectr plugin config */
.selectr-selected {
	min-height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
	border: 1px solid #ced4da;
	border-radius: .2rem;
	font-size: .875rem;
	color: #495057;
}
.selectr-container.open .selectr-selected,
.selectr-container.open.inverted .selectr-selected,
.selectr-selected:focus {
	color: #495057;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
	z-index: 11000;
}
.selectr-selected.selectr-valid {
	border: 1px solid #28a745;
}
.selectr-container.open.inverted .selectr-selected.selectr-valid:focus,
.selectr-selected.selectr-valid:focus {
	border: 1px solid #28a745;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.selectr-selected.selectr-invalid {
	border: 1px solid #dc3545;
}
.selectr-container.open.inverted .selectr-selected.selectr-invalid:focus,
.selectr-selected.selectr-invalid:focus {
	border: 1px solid #dc3545;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/** RESPONSIVE 
* pantalla-super-pequeña */
@media screen and (max-width: 400px) {
	nav#sidebar-menu {
		width: 100vw;
		height: 100vh;
	}
	nav div.ui figure { display: none; }
	a.menu-item { line-height: 40px !important; }
	
	/* order navbar items */
	.mynavbar h3 { order: 1; }
	.mynavbar i.btn-menu { order: 3; }
}
/* small-device (sm) */
@media screen and (max-width: 576px) {	
	section.contenido {
		padding: 10px;
	}
}