 /* HTML General Elements */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #00acc1;
}
a:hover {
	color: #006875;
	transition: color 300ms linear;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body {
	overflow-y: auto;
	overflow-x: hidden;
}
.wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}
/** SIDEBAR (MENU) */
nav.sidebar {
	position: fixed;
	top: 0;
	z-index: 100;
	overflow: auto;
	height: 100vh;
	width: 240px;
	min-width: 240px;
	user-select: none;
	box-shadow: 10px 0 30px -4px rgb(0 0 0 / 30%);
	transition: width 0.3s ease;
}
div.logo {
	line-height: 60px;
	width: 100%;
	white-space: nowrap;
	text-align: center;
}
div.logo span {
	font-family: "Open Sans Bold", sans-serif;
	font-size: 1.2rem;
}
div.menu-title {
	line-height: 40px;
	padding-left: 33px;
	letter-spacing: 0.04rem;
	font-family: "Rubik";
	font-size: 0.7rem;
}
/* menu-box */
div.menu-box {
	display: flex;
	flex-direction: column;
}
a.menu-item {
	display: flex;
	align-items: center;
	height: 55px;
	transition: all 100ms ease-in-out; 
}
a.menu-item > i.i1 {
	flex: 0 2 20%;
	text-align: right;
	padding-right: 5px;
	font-size: 1rem;
}
a.menu-item span {
	flex: 1 1 60%;
	text-align: left;
	padding-left: 10px;
	font-family: "Rubik", sans-serif;
	font-size: 0.90rem;
}
a.menu-item i.i-arrow {
	flex: 0 2 20%;
	text-align: center;
	transition: all 200ms ease-out;
}
/* submenu-box */
ul.submenu-box {
	height: 0;
	transition-property: height;
	transition-timing-function: ease;
	overflow: hidden;
}
a.submenu-item {
	display: block;
	width: 100%;
	line-height: 45px;
	padding-left: 60px;
	transition: all 0.2s ease-out;
	font-size: 0.84rem;
	font-family: "Rubik", sans-serif;
}
/* nav.small */
.shortened .sidebar {
	width: 65px;
	min-width: 65px;
	overflow: visible;
}
.shortened div.logo span {
	visibility: hidden;
}
.shortened div.menu-title,
.shortened a.menu-item > i.i-arrow {
	display: none;
}
.shortened a.menu-item > span { 
	position: absolute;
	visibility: hidden;
	width: 180px;
	left: 65px;
	line-height: 55px;
	
	background-color: #00acc1;
	color: white;
	box-shadow: 3px 3px 10px rgb(0 0 0 / 16%)
}
.shortened a.menu-item > i.i1 {
	margin: auto;
	padding: 0;
	text-align: left;
	font-size: 1.4rem;
}
.shortened ul.submenu-box {
	position: absolute;
	width: 180px;
	left: 65px;
	transform: translateY(55px);
	box-shadow: 3px 3px 10px rgb(0 0 0 / 16%);
}
.shortened a.menu-item span.show,
.shortened a.menu-item:hover > span {
	visibility: visible;
}
.shortened a.menu-item:hover + ul.submenu-box,
.shortened ul.submenu-box:hover {
	height: auto !important;
}
.shortened a.submenu-item {
	padding-left: 15px;
}

/** NAVBAR */
nav.navbar-custom {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 240px;
	right: 0;
	user-select: none;
}
nav.navbar-custom ul.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 10px;
	box-shadow: 0 4px 20px -2px rgb(0 0 0 / 20%);
}
ul.nav-list > li { 
	padding: 6px;
	/*border: 1px solid red;*/
}
ul.nav-list > li.nv-icon > i {
	cursor: pointer;
	padding-top: 2px;
	font-size: 1.5rem;
	color: #ffffffcc;
}
ul.nav-list > li.nv-icon {
	flex: 0 1 2%;
	text-align: center;
}
ul.nav-list > li.nv-title {
	flex-grow: 1;
	visibility: hidden;
}
ul.nav-list > li.nv-user-option {
	flex: 0 1 10%;
	text-align: right;
}
li.nv-user-option img {
	width: 35px;
	height: 35px;
	margin-right: 5px;
}
li.nv-user-option .toggle-dropdown {
	white-space: nowrap;
	user-select: none;
	padding: 0 10px;
	font-family: "Rubik", sans-serif;
	font-size: 0.84rem;
}
li.nv-user-option .toggle-dropdown {
	color: #ffffffcc;
}
li.nv-user-option .dropdown-item span {
	font-family: "Rubik", sans-serif;
	font-size: 0.875rem;
}
li.nv-user-option .dropdown-item i {
	padding-right: 8px;
	font-size: 0.875rem;
}
li.nv-user-option .title-dropdown {
	padding: 0.8rem 1.2rem 0.4rem 1.2rem;
	font-size: .75rem;
	font-family: "Rubik medium";
}
.shortened nav.navbar-custom {
	left: 65px;
}
/* bootstrap (dropdown-menu)*/
.dropdown-menu {
	margin-top: 10px !important;
	padding: 0;
	box-shadow: 0px 4px 16px rgb(0 0 0 / 16%);
}
.dropdown-item {
	display: flex;
	align-items: center;
	padding: .45rem 1.2rem;
	border-radius: 2px;
	outline: none;
}

/** Sweet Alert */
.swal2-content {
	font-size: inherit;
}
.swal2-styled {
	/*padding: .25rem .5rem;*/
}
.swal2-styled.swal2-cancel,
.swal2-styled.swal2-confirm {
	box-shadow: none;
	font-size: .875rem;
}
.swal2-styled.swal2-confirm {
	/*background-color: #00acc1;*/
}
/** MAIN SECTION (CONTENIDO) */
div.content-page {
	min-height: 100vh;
	padding-top: 50px;	/* navbar height */
	margin-left: 240px;
	padding-bottom: 80px;	/* footer height */
}
div.content {
	padding: 26px;
	transition: padding 150ms ease;
	font-family: "Rubik", sans-serif;
	font-size: 0.875rem;
}
.shortened div.content-page {
	margin-left: 65px;
}
.content-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 25px;
}
.content-header > h1 {
	flex-basis: 63%;
	font-family: "Rubik medium", sans-serif;
	font-size: 1.2rem;
	color: #323a46;	/*FLAG*/
}
.content-header > ul {
	display: flex;
	align-items: center;
}
.content-header > ul > li {
	font-family: "Rubik", sans-serif;
	font-size: 0.87rem;
	color: #00acc1;
}
.content-header > ul > li:last-child {
	color: #adb5bd;
}
.content-header > ul > li:first-child:before {
	font-family: 'Material-Design-Iconic-Font';
	content: '\f31c';	/* view-dashboard */
	margin: 5px;
}
.content-header ul li:not(:last-child):after {
	font-family: 'Material-Design-Iconic-Font';
	content: '\f2fb';	/* chevron-right */
	margin: 0 10px;
	color: #ced4da;
}
div.box {
	border: 1px solid;
	margin-bottom: 20px;
	padding: 20px 26px 20px 26px !important;
	transition: margin, padding 150ms ease;
	box-shadow: 0 4px 15px -2px rgb(0 0 0 / 15%);
}
div.box div.box-title {
	font-family: "Rubik medium", sans-serif;
	margin-bottom: 15px;
}
div.box div.box-title > i {
	padding-right: 3px;
	font-size: 1.03rem;
}
div.field {
	margin-bottom: 20px;
}
div.field2 {
	margin-bottom: 10px;
}
/* esto es en el datatable cargo*/
.my-card {
	max-width: 130px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.025);
	font-family: "Roboto bold";
	font-size: 0.75rem;
}
.alerta-msg {
	display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	filter: opacity(0.6);
}
input[type="date"]::-webkit-datetime-edit-text { 
	padding: 0 1px; 
}
.field.number .form-control {
	letter-spacing: 1px;
}
/* Bootstrap (input, button) */
.form-control,
.form-check-input {
	transition: border 400ms ease;
	font-size: inherit;
}
.was-validated .form-check-input:valid,
.was-validated .form-control:valid,
.was-validated .form-control:valid:focus {
	border-color: #25b343;
}
.was-validated .form-check-input:valid:checked {
	background-color: #25b343;
}
.was-validated .form-check-input:invalid,
.was-validated .form-control:invalid,
.was-validated .form-control:invalid:focus {
	border-color: #f1556c;
}
.form-control:focus,
.form-check-input:focus,
.was-validated .form-check-input:invalid:focus,
.was-validated .form-check-input:valid:focus,
.was-validated .form-control:invalid:focus,
.was-validated .form-control:valid:focus {
	box-shadow: none;
}
.btn-group {
	display: block;
	text-align: center;
}
.btn {
	box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 
				0 2px 2px 0 rgb(0 0 0 / 14%), 
				0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}
.btn:active {
	box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 
				0 8px 10px 1px rgb(0 0 0 / 14%), 
				0 3px 14px 2px rgb(0 0 0 / 12%) !important;
}
.btn-primary,
.form-check-input:checked  {
	background-color: #00acc1; 
	border-color: #00acc1;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #008a9b;
	border-color: #008a9b;
}
.btn-secondary {
	background-color: #607d8b;
	border-color: #607d8b;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
	background-color: #516b78;
	border-color: #516b78;
}
.modal-content {
	border: transparent;
}
.modal-content > div {
	padding: 1rem 1.3rem;
}
.modal-header .btn-close {
	background-size: .7rem;
}
.modal-header .btn-close:focus {
	box-shadow: none;
}
.modal-title {
	font-family: "Rubik medium", sans-serif;
}
/* end of bootstrap */
.mymodal-footer {
	text-align: right;
}
/* Formularios */
form label:not(.except) {
	font-family: "Rubik medium", sans-serif;
}
form label:not(.gender) {	/* !!cambiar el nombre de la clase */
	margin-bottom: 5px;
}

/* TRABAJADOR */
#form-trabajador h1 {
	text-align: center;
}
#form-trabajador .multiple-input {	/* en una fila */
	min-width: 180px;
	max-width: 210px;
}
/* ####### Common properties ######## */
.row > .main-column:nth-child(1) {
	padding-right: 15px;
}
.row > .main-column:nth-child(2) {
	padding-left: 15px;
}
/* -------- Oficina -------- */
#crear-oficina form {
	width: 50%;
}
#mostrar-oficina .row > .main-column:nth-child(1),
#mostrar-oficina .row > .main-column:nth-child(2) {
	min-height: 130px;
}
#mostrar-oficina ul.lista-suboficinas > li {
	margin-bottom: 15px;
}
/* -------- Cargo -------- */
#mostrar-cargo .titulo {
	font-family: "Rubik medium";
}
/* datatable cargo */
#dt-cargo > thead > tr > th.nro-plaza-column {
	width: 1% !important;
	min-width: 70px;
}
#dt-cargo > thead > tr > th.cargo-jefe-column,
#dt-cargo > thead > tr > th.cargo-confianza-column {
	width: 1% !important;
	min-width: 50px;
}
#dt-cargo > tbody > tr > td.cargo-jefe-column,
#dt-cargo > tbody > tr > td.cargo-confianza-column {
	padding-left: 12px !important;
}
#dt-cargo > thead > tr > th:not(.num-column):not(.link-column):not(.nro-plaza-column):not(.cargo-jefe-column):not(.cargo-confianza-column) {
	min-width: 200px;
}
.status-presupuesto {
	padding: 0;
}
.status-presupuesto > input {
	float: right !important;
}
.status-presupuesto div.form-check-label {
	text-align: right;
	color: blue;
}

/** FOOTER */
footer.footer {
	position: absolute;
	bottom: 0;
	left: 240px;
	right: 0;
	height: 80px;
	min-height: 80px;
	overflow: hidden;
	padding: 20px 5px;
}
.shortened footer {
	left: 60px;
}
footer div.info {
	text-align: center;
}
footer .info > span {
	display: block;
	color: #98a6ad;
	font-family: "Rubik", sans-serif;
	font-size: .95rem;
}

/** Datatable (plugin) */
.dataTable-top {
	overflow: hidden;
	padding: 0 0 10px 0;
}
.dataTable-top .dataTable-selector,
.dataTable-top .dataTable-input {
	outline: none;
    padding: .25rem .5rem;
	margin-top: 10px;
	transition: all 200ms ease;
	border: 1px solid;
	border-radius: 4px;
}
.dataTable-container { overflow-x: auto; }
.dataTable-wrapper.no-footer .dataTable-container { border: none; }

/* datatable sorter */
.dataTable-sorter::after,
.dataTable-sorter::before {
	border: none;	/* delete chevron arrow */
	opacity: 0.3;
}
.dataTable-sorter::after {
	content: "\2191";
	right: 10px;
	top: -2px;
}
.dataTable-sorter::before { 
	content: "\2193";
	right: 4px;
	bottom: 23px;
}
.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before { opacity: 1; }

.dataTable-table > thead > tr > th {
	border-bottom: 2px solid;
}
.dataTable-table > thead > tr > th,
.dataTable-table > tbody > tr > td {
	border-top: 1px solid;
	vertical-align: middle;
}
.dataTable-table > thead > tr > th,
.dataTable-table > tbody > tr > td:not(.link-column) { padding: 14px 10px; }
.dataTable-table > thead > tr > th.num-column,
.dataTable-table > thead > tr > th.link-column {
	width: 1% !important;
}
.num-column .dataTable-sorter::after,
.num-column .dataTable-sorter::before { opacity: 0; }
.dataTable-table > thead > tr > th.link-column,
.dataTable-table > tbody > tr > td.link-column {
	position: relative;
	text-align: center;
}
.dataTable-table > thead > tr > th,
.dataTable-table > tbody > tr > td.num-column {
	font-family: "Rubik medium", sans-serif;
	font-weight: 400;
}
.dataTable-table > tbody > tr > td > i.dt-link {
	position: relative;
	cursor: pointer;
	/*top: 3px;*/
	font-size: 1.3rem;
	color: #25b343;
}
.dataTable-table > tbody > tr td.link-column:before {
	/* agrega background blanco al icono para aparentar una cruz blanca */
	position: absolute;
	content: "";
    margin-left: 2px;
    margin-top: 2px;
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}
.dataTable-bottom {
	overflow: hidden;
	white-space: nowrap;
	padding: 10px 0 0 0;
}
.dataTable-pagination {
	display: flex;
}
.dataTable-pagination a {
	margin: 0 3px;
	padding: 6px 12px;
	border-radius: 4px;
}
.dataTable-pagination li.active > a,
.dataTable-pagination li.active > a:hover,
.dataTable-pagination li.active > a:focus {
	background: #00acc1;
	color: white;
}
/* visibility columns */
#checkbox-container {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}
/** Selectr (plugin) */
.selectr-selected {
	z-index: 0;
	min-height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
	transition: border 400ms ease;
}
.selectr-selected:focus {
	outline: none;
}
.selectr-options-container {
	z-index: 1;
	top: 105%;
	border: none;
	user-select: none;
	box-shadow: 0px 4px 16px rgb(0 0 0 / 16%);
}
.selectr-container.inverted .selectr-options-container {
	bottom: 105%;
}
.selectr-options {
	overflow-y: auto;
}
.selectr-option.selected {
	font-family: "Rubik medium";
}
.selectr-label {
	width: 95%;
}
/*.selectr-container.selectr-disabled .selectr-selected:focus,
.selectr-container.selectr-disabled .selectr-selected {
	border: 1px solid #ced4da !important;
	background: #f1f5f7;
}*/

/* RESPONSIVE */ 

/* x-large */
@media screen and (max-width: 1200px) {
	#crear-oficina form {
		width: 60%;
	}
}
/* large */
@media screen and (max-width: 992px) {
	.content-header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.content-header ul {
		width: 100%;
		padding-top: 5px; 
	}
	.content-header > ul > li:first-child:before {
		margin-left: 0;
	}
	#crear-oficina form {
		width: 73%;
	}
}
/* medium */
@media screen and (max-width: 768px) {
	#crear-oficina form {
		width: 86%;
	}
	#mostrar-oficina .main-column:nth-child(1),
	#mostrar-oficina .main-column:nth-child(2) {
		min-height: 150px;
	}
	.row > .main-column:nth-child(1) {
		padding-right: 0;
	}
	.row > .main-column:nth-child(2) {
		padding-left: 0;
	}
}
/* small */	
@media screen and (max-width: 576px) {
	div.content {
		padding: 15px;
	}
	div.content .box {
		padding: 15px;
		margin-bottom: 15px;
	}
	#crear-oficina form {
		width: 100%;
	}

	/*-a-sd-asd-a-sd-a-s.ads*/
	/*div#lista-oficina,*/
	div#lista-cargo {
		padding: 0;
	}
	/* Datatable plugin */
	.dataTable-top .dataTable-search,
	.dataTable-top .dataTable-dropdown {
		display: block;
		width: 100%;
		text-align: center;
	}
}
/* .my-xsm (Extra small) */
@media screen and (max-width: 400px) {
	#crear-oficina form {
		padding: 0px 15px;
	}

}

/* Adding fonts */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular.ttf"), 
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family: "Open Sans SemiBold";
	src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family: "Poppins";
	src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: "Poppins Bold";
	src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
	font-family: "Rubik";
	src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
	font-family: "Rubik medium";
	src: url(../fonts/Rubik-Medium.ttf);
}