*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
button {
	font-size: inherit !important;
}
button i {
	font-size: 1.06rem !important;	
}
body {
	overflow: auto;
}
main {
	display: flex;
	flex-direction: column;
}
/*///////////////////////////*/
/* Section (navbar) */
header.mynavbar {
	position: fixed;
	z-index: 12000;
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	background-color: black;
	padding: 0 5px;
}
i.btn-menu {
	order: 1;
	flex: 0 1 2%;
	cursor: pointer;
	transition: all .3s ease-in-out;
	text-align: center;
	color: #fff;
}
header h3.nv-title {
	order: 2;
	flex: 0 1 98%;
	margin: 0;
	text-align: center;
	/*font-family: "Roboto bold", Arial, Helvetica, Verdana;*/
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
}
/* Section (menu-sidebar) */
nav#sidebar-menu {
	z-index: 12000;
	position: fixed;
	overflow: auto;
	top: 0;
	height: 100vh;
	width: 280px;
	box-shadow: 0 0 1px 1px #3a4961;
	user-select: none;
	font-family: "Roboto bold",Arial,Helvetica,Verdana;
	font-size: 0.87rem;
	transition: transform .2s ease-out;
}
nav div.menu-title {
	display: flex;
	align-items: center;
	height: 40px;
	width: 94%;
	margin: 10px auto;
	padding: 0 8px;
	border-radius: 5px;
	font-size: 1rem;
	text-align: center;
}
div.menu-title span {
	flex: 1 1 94%;
	padding-left: 6%;
}
div.menu-title i {
	flex: 0 1 6%;
	cursor: pointer;
	font-size: 1.56rem;	/*size-close-icon*/
}
/* user-info(ui) */
nav div.user-info figure {
	padding: 10px;
	text-align: center;
}
div.ui figure img {
	width: 100px;
	height: 100px;
}
div.ui div.menu-setting-options {
	line-height: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	border-top: 1px solid rgba(255, 255, 255, .3);
	font-size: 1.25rem;	/*size icons*/
	text-align: center;
}
div.ui div.menu-setting-options i {
	cursor: pointer;
	padding: 0 20px;
}
/* menu-box */
nav div.full-menu { padding-top: 10px; }
nav div.menu-box {
	display: flex;
	flex-direction: column;
}
a.menu-item {
	display: flex;
	align-items: center;
	height: 50px;
	color: inherit;
	font-weight: bold;
}
a.menu-item:hover,
a.menu-item.active { transition: all .3s ease-in-out; }
a.menu-item i.i1 {
	flex: 0 2 20%;
	text-align: right;
	padding-right: 10px;
	font-size: 1rem;
}
a.menu-item span {
	flex: 1 1 60%;
	text-align: left;
}
a.menu-item i.i2 {
	flex: 0 2 20%;
	text-align: center;
}		
/* submenu-box */
nav div.menu-box div.submenu-box {
	height: 0;
	transition-property: height;
}
a.submenu-item {
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	height: 30px;
	font-family: Arial, Helvetica, Verdana;
	color: inherit;
	transition-property: all;
}
a.submenu-item i {
	flex: 0 1 28%;
	text-align: right;
	padding-right: 10px;
	font-size: 0.56rem;
}
a.submenu-item span { flex: 1 1 72%; }

/*/////////////////////////////////*/
/* Section (contenido) */
section.contenido {
	background: #f7f7f7;
	height: 100%;
	min-height: 88vh;
	padding-top: 40px;
	font-family: "Roboto", Arial, Helvetica, Verdana !important;
}
.contenido > h1 {
	line-height: 50px;
	margin: 10px 0 0 0;
	border: 1px solid red;
	text-align: center;
	font-family: "roboto bold";
	/*color: white;*/
}
/* Formularios */
form {
	font-size: 0.93rem;
	padding-bottom: 10px; 
}
div.box {
	background: white;
	border: 1px solid #d9d9d9;
	box-shadow: 2px 2px 5px 0px #d9d9d9;
	padding: 20px;
}
div.box:nth-child(1) {
	margin: 2px 8px 10px 8px;		/* top-right-bottom-left */
}
div.box:nth-child(2) {
	margin: 2px 8px 10px 0;	/* top-right-bottom-left */
}
div.box div.field {
	margin-bottom: 8px;
}
label:not(.gender) {	/* !!cambiar el nombre de la clase */
	margin-bottom: 2px;
}
label.label-disabled {
	color: #c3c3c3;
}
div.box > div.titulo {
	font-family: "Roboto bold";
	color: darkblue;
}
div.btn-group {
	display: block;
	text-align: center;
}
/* Formulario-TRABAJADOR */
#form-trabajador h1 {
	text-align: center;
}
#form-trabajador .multiple-input {	/* en una fila */
	min-width: 180px;
	max-width: 210px;
}
/* Formulario OFICINA */
#form-oficina {
	width: 80%;
}
/* Datatable OFICINA */
div#lista-oficina,
div#lista-cargo {
	font-size: 0.93rem;
}
#dt-cargo > thead > tr > th:nth-child(2),
#dt-cargo > thead > tr > th:nth-child(3) {
	width: 20%;
}

/*///////////////////////////////////*/
/* Datatables plugin */
div.dataTable-wrapper {
	background: white;
	border: 1px solid #d9d9d9;
	box-shadow: 2px 2px 5px 0px #d9d9d9;
	padding: 5px 0;
}
.dataTable-wrapper .dataTable-selector,
.dataTable-wrapper .dataTable-input {
    padding: .25rem .5rem;
	border: 1px solid #ced4da;
	border-radius: .2rem;
	font-size: .875rem;
	color: #495057;
}
thead {
	background: #F4F5F9;
}
.dataTable-sorter::after,
.dataTable-sorter::before {
	opacity: 0;
}
.dataTable-table > thead > tr > th {
	vertical-align: middle;
}
.dataTable-table > tbody > tr > td {
	vertical-align: middle;
	padding: 8px 15px;
}
.dataTable-table > thead > tr > th.special-column,
.dataTable-table > tbody > tr > td.special-column {
	width: 5% !important;
	padding: 0;
	text-align: center;
}
.dataTable-table > tbody > tr:hover {
	background: #f6ffa7;
}
.dataTable-table i.icon-datatable-link {
	pointer-events: auto !important;
	font-size: 1.3rem;
	padding: 4px 6px;
	border-radius: 100%;
	vertical-align: middle;
}
.dataTable-table i.icon-datatable-link:hover {
	cursor: pointer;
	background: #B0A7FF;
}
/*//////////////////////////////////////*/
/* selectr-mobius plugin config style */
.selectr-selected {
	min-height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
	border: 1px solid #ced4da;
	border-radius: .2rem;
	font-size: .875rem;
	color: #495057;
}
.selectr-container.open .selectr-selected,
.selectr-container.open.inverted .selectr-selected,
.selectr-selected:focus {
	color: #495057;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
	z-index: 11000;
}
.selectr-container .selectr-options {
	font-size: .9rem;
}
.was-validated .selectr-selected.selectr-valid {
	border: 1px solid #28a745;
}
.was-validated .selectr-container.open.inverted .selectr-selected.selectr-valid:focus,
.was-validated .selectr-selected.selectr-valid:focus {
	border: 1px solid #28a745;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.was-validated .selectr-selected.selectr-invalid {
	border: 1px solid #dc3545;
}
.was-validated .selectr-container.open.inverted .selectr-selected.selectr-invalid:focus,
.was-validated .selectr-selected.selectr-invalid:focus {
	border: 1px solid #dc3545;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.selectr-container.selectr-disabled .selectr-selected {
	border: 1px solid #ced4da;
	box-shadow: 0 0 0 0 #fff;
	opacity: 0.6;
}
/** RESPONSIVE 
* .my-xsm (Extra small) */
@media screen and (max-width: 400px) {
	nav#sidebar-menu {
		width: 100vw;
		height: 100vh;
	}
	nav div.ui figure { display: none; }
	a.menu-item { line-height: 40px !important; }
	
	/* order navbar items */
	.mynavbar h3 { order: 1 !important; }
	.mynavbar i.btn-menu { order: 2 !important; }
}
/* v5.container-md (MEDIUM) */
@media screen and (max-width: 768px) {
	div.box:nth-child(1) {
		margin: 10px 0 10px 0;	/*top-right-bottom-left*/
	}
	div.box:nth-child(2) {
		margin: 0 0 10px 0;		/*top-right-bottom-left*/
	}
	#form-oficina {
		width: 90%;
	}
}
/* v5.container-sm (SMALL) */	
@media screen and (max-width: 576px) {
	div.box {
		padding: 15px;
	}
	#form-oficina {
		width: 100%;
		padding: 0;
	}
	div#lista-oficina,
	div#lista-cargo {
		padding: 0;
	}
	/*//////////////////////////////*/
	/* Datatable plugin */
	.dataTable-top .dataTable-search,
	.dataTable-top .dataTable-dropdown {
		display: block;
		width: 100%;
		text-align: center;
	}
}
/*GUARDAR POSIBLES USOS - FOOTER*/
footer {
	height: 72px;
	width: 100%;
	background-color: #444;
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.12), 0 2px 5px 0 rgba(0,0,0,0.1);
	text-align: center;
	color: #ffffffbf;
	padding: 25px 0;
}
#modal-main {
	display: none;
	top: 0%;
	position: fixed;
	z-index: 11000;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,.2);
	transition: all .2s ease-in-out;
}
#modal-main.on {
	display: block;
}
.my-card {
	/*max-width: 400px;*/
	max-width: 130px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.025);
	font-family: "Roboto bold";
	font-size: 0.75rem;
}